*{
    background-color: hsl(118, 100%, 50%);
    
}

h1{
    color: #0a2907;
}


.box{
    border:  #000 solid 2px;
    display: flex;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
}
.box2{
    
    /* display: inline-flex; */
    border: 1px #000 solid;
    width: 33%;
    margin: 0 auto;
}

.list_object{
    color: #811502;
    text-align: center;
    list-style: none;
}